QSlider::add-page:Horizontal
{
    background-color: rgb(87, 97, 106);
    height:4px;
}
QSlider::sub-page:Horizontal 
{
    background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(231,80,229, 255), stop:1 rgba(7,208,255, 255));
    height:4px;
}
QSlider::groove:Horizontal
{
    background:transparent;
    height:3px;
}
QSlider::handle:Horizontal
{
    height: 10px;
    width:18px;
    border-image: url(:/pictures/slider);            
    margin: -8 -4px; 
}